{% extends 'form_base.html' %}
{% load crispy_forms_tags %}

{% block form_fields %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                {% if form.instance.photo %}
                    <img src="{{ form.instance.photo.url }}" alt="Foto do membro" class="img-thumbnail mb-3" style="max-width: 200px;">
                {% else %}
                    <div class="bg-light rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 200px; height: 200px; margin: 0 auto;">
                        <i class="bi bi-person-circle" style="font-size: 8rem; color: #dee2e6;"></i>
                    </div>
                {% endif %}
                {{ form.photo|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                {{ form.name|as_crispy_field }}
                {{ form.birth_date|as_crispy_field }}
                {{ form.gender|as_crispy_field }}
                {{ form.relationship|as_crispy_field }}
                {{ form.blood_type|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.emergency_contact|as_crispy_field }}
                {{ form.emergency_phone|as_crispy_field }}
                {{ form.allergies|as_crispy_field }}
                {{ form.chronic_conditions|as_crispy_field }}
                {{ form.notes|as_crispy_field }}
            </div>
        </div>
    </div>
</div>
{% endblock %} 