{% extends 'healthcare/base_healthcare.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if form.instance.pk %}Editar Medicamento{% else %}Novo Medicamento{% endif %}
{% endblock %}

{% block page_actions %}
<a href="{% url 'healthcare:medication_list' %}" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Voltar
</a>
{% endblock %}

{% block healthcare_content %}
<div class="card">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.family_member|as_crispy_field }}
                    {{ form.name|as_crispy_field }}
                    {{ form.dosage|as_crispy_field }}
                    {{ form.frequency|as_crispy_field }}
                    {{ form.start_date|as_crispy_field }}
                    {{ form.end_date|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.prescribed_by|as_crispy_field }}
                    {{ form.prescription_number|as_crispy_field }}
                    {{ form.instructions|as_crispy_field }}
                    {{ form.side_effects|as_crispy_field }}
                    {{ form.notes|as_crispy_field }}
                </div>
            </div>
            
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %} 