{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_title %}
    {% if form.instance.pk %}Editar {{ model_name }}{% else %}Novo {{ model_name }}{% endif %}
{% endblock %}

{% block page_actions %}
<a href="{{ list_url }}" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Voltar
</a>
{% endblock %}

{% block main_content %}
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {% block form_fields %}
            <div class="row">
                <div class="col-md-6">
                    {% block form_left_column %}{% endblock %}
                </div>
                <div class="col-md-6">
                    {% block form_right_column %}{% endblock %}
                </div>
            </div>
            {% endblock %}

            {% block form_attachments %}{% endblock %}

            {% block form_actions %}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> 
                    {% if form.instance.pk %}Salvar Alterações{% else %}Cadastrar {{ model_name }}{% endif %}
                </button>
            </div>
            {% endblock %}
        </form>
    </div>
</div>
{% endblock %} 